<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">add skill</h3>
        
    <fieldset class="uk-fieldset">


        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="name" name="name" [(ngModel)]="data.name">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="phone number" name="phone" [(ngModel)]="data.phone">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="province" name="province" [(ngModel)]="data.province">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="skill" name="skill" [(ngModel)]="data.skill">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="price" name="price" [(ngModel)]="data.price">
        </div>

      

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="comments" name="comments" [(ngModel)]="data.comments"></textarea>
        </div>


     

        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="insertSkill()">submit</button>
          </div>

    </fieldset>
</div>
</div>